# Intro to Python 
## By Abraham Im
## For GEOG458

# Task 1
There is one Jupyter Notebook which shows how to implement a k-Means algorithm, an algorithm used for cluster analysis in data mining. I find it particularly interesting because it has so many applications, such as the one used in the notebook, which was identifying handwritten digits. I think this could have many applications, so this notebook is very exciting to see and read. You can find it [here](https://nbviewer.jupyter.org/github/temporaer/tutorial_ml_gkbionics/blob/master/2%20-%20KMeans.ipynb).

# Task 2
According to [data36.com](https://data36.com/python-libraries-packages-data-scientists/), the top 5 packages used in data science are:
* Numpy
* Pandas
* Matplotlib
* Scikit-Learn
* Scipy

Where R has ggplot2, there is a *grammar of graphics* implementation in Python based on ggplot2, called [plotnine](https://github.com/has2k1/plotnine). It has a similar API and syntax to ggplot2, making it a good Python equivalent.

Pandas, which is listed above as one of the top packages for data science, has dataframes for data analysis, just like in R. Particularly pandas-ply is a Python implementation of dplyr, along with Dplython, which can be useful since they use very similar syntax and grammar.

# Task 3
The differences between Python and R syntax are many, but here are some interesting ones.

For calling packages/libraries, Python uses an "import" statement 
        
        import random 
        
while R uses a library function
        
        library(dplyr)

Another difference is in reading data from a CSV. In R, the command is pretty straightforward and comes as part of the readr package in tidyverse 

        data <- read_csv("filepath.csv")
        
while in Python, the same statement is called as a function of the pandas library.

        import pandas
        data = pandas.read_csv("filepath.csv")
        
Python has a built-in CSV library, but it does not read the data into a dataframe, which comes as a part of the pandas library. I read that R has a built-in read.csv() function but strangely I couldn't find documentation for it in on [rdocumentation.org](rdocumentation.org). If it does exist, it seems that the only difference in syntax is that readr's function uses an underscore while R's is a dot (but that indicates somewhat big differences underneath the hood. Also, there might be additional arguments to both that differ, but I couldn't confirm this, again, because I couldn't find documentation for read.csv().)

An interesting small difference is that boolean values in Python are written with first letter capitalization while they are all caps in R (eg. Python: "True" R: "FALSE")

# Task 4

In [77]:
word1 = "Hello"
word2 = "world,"
word3 = "I am not"
word4 = "a snake"
print word1 + " " + word2 + " " + word3 + " " + word4

Hello world, I am not a snake

# Task 5

In [78]:
number = 1
string = str(number) + " " + word1 + " " + word2 + " " + word3 + " " + word4
print string.upper()

1 HELLO WORLD, I AM NOT A SNAKE

# Task 6

In [79]:
word_list = [str(number),word1,word2,word3,word4]
space = " "
sentence = space.join(wordlist)
sentence

'1 Hello world, I am not a snake'

In [80]:
sentence.count("a")

3

In [81]:
sentence.find("snak")

26

# Task 7

In [82]:
sentence[0:(len(sentence)/2)]

'1 Hello world, '

# Task 8

In [83]:
sentence = sentence.strip("1")

# Task 9

In [84]:
sentence_split = sentence.split()
sentence_split

['Hello', 'world,', 'I', 'am', 'not', 'a', 'snake']

In [85]:
sentence_split.insert(2, "earthlings")
sentence_split

['Hello', 'world,', 'earthlings', 'I', 'am', 'not', 'a', 'snake']

# Task 10

In [86]:
import random
rand_num = random.randint(1,100)
print str(rand_num)
if rand_num <= 25:
    print "1st Quartile"
elif (25 < rand_num and rand_num <= 50):
    print "2nd Quartile"
elif (50 < rand_num and rand_num <= 75):
    print "3rd Quartile"
elif (75 < rand_num and rand_num <= 100):
    print "4th Quartile"

90
4th Quartile

# Task 11

In [87]:
cities = ["Chicago, IL", "Indianapolis, IN", "Columbus, OH", "Detroit, MI", "Milwaukee, WI", "Kansas City, MI"]
for city in cities:
    print "Warning, residents of " + city + ", temperatures will reach sub-zero temperatures today, please stay indoors if possible"

Warning, residents of Chicago, IL, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Indianapolis, IN, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Columbus, OH, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Detroit, MI, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Milwaukee, WI, temperatures will reach sub-zero temperatures today, please stay indoors if possible
Warning, residents of Kansas City, MI, temperatures will reach sub-zero temperatures today, please stay indoors if possible

# Task 12

In [88]:
states = ["Washington","California","Nevada","Idaho","Montana","Utah","Colorado","New Mexico"]
result_list = []
for state in states:
    temp = "U://Users/Im/Geog_458/" + state + ".shp"
    result_list.append(temp)
    print temp
result_list

U://Users/Im/Geog_458/Washington.shp
U://Users/Im/Geog_458/California.shp
U://Users/Im/Geog_458/Nevada.shp
U://Users/Im/Geog_458/Idaho.shp
U://Users/Im/Geog_458/Montana.shp
U://Users/Im/Geog_458/Utah.shp
U://Users/Im/Geog_458/Colorado.shp
U://Users/Im/Geog_458/New Mexico.shp

['U://Users/Im/Geog_458/Washington.shp',
 'U://Users/Im/Geog_458/California.shp',
 'U://Users/Im/Geog_458/Nevada.shp',
 'U://Users/Im/Geog_458/Idaho.shp',
 'U://Users/Im/Geog_458/Montana.shp',
 'U://Users/Im/Geog_458/Utah.shp',
 'U://Users/Im/Geog_458/Colorado.shp',
 'U://Users/Im/Geog_458/New Mexico.shp']

# Task 13

In [89]:
x = 10
while x >= 0:
    print "T-minus " + str(x)
    x -= 1

T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

# Task 14

In [90]:
def countdown(start):
    while start >= 0:
        print "T-minus " + str(start)
        start -= 1
countdown(17)

T-minus 17
T-minus 16
T-minus 15
T-minus 14
T-minus 13
T-minus 12
T-minus 11
T-minus 10
T-minus 9
T-minus 8
T-minus 7
T-minus 6
T-minus 5
T-minus 4
T-minus 3
T-minus 2
T-minus 1
T-minus 0

# Task 15

In [93]:
def quartile_calc(num):
    if (0 <= num and num <= 25):
        print "1st Quartile"
    elif (25 < num and num <= 50):
        print "2nd Quartile"
    elif (50 < num and num <= 75):
        print "3rd Quartile"
    elif (75 < num and num <= 100):
        print "4th Quartile"
    else:
        print "Error"
quartile_calc(5)
quartile_calc(35)
quartile_calc(55)
quartile_calc(85)
quartile_calc(-5)
quartile_calc(105)
quartile_calc(0)
quartile_calc(100)

1st Quartile
2nd Quartile
3rd Quartile
4th Quartile
Error
Error
1st Quartile
4th Quartile